/* ====== TITELS ====== */
h1 {
  color: #00ffff;        /* Lichtblauw */
  text-align: center;    /* In het midden */
  margin: 20px 0;
}

h2 {
  color: white;
  text-align: center;
  margin: 10px 20px;
}

/* ====== ACHTERGROND & TEKST ====== */
body {
  background-color: black;   /* Zwarte achtergrond */
  color: white;              /* Witte tekst */
  font-family: Arial;        /* Simpel lettertype */
  margin: 0;
  padding: 0;
}

/* ====== NAVIGATIEBALK ====== */
ul {
  list-style-type: none;     /* Geen bolletjes */
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #b0b0b0; /* Grijze balk */
}

ul li {
  float: left;               /* Zet menu-items naast elkaar */
  width: 375px;              /* Gelijke breedte voor elke knop */
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;     /* Geen onderstreping */
}

ul li a:hover {
  background-color: #111;    /* Donkergrijs bij hover */
}

/* ====== INFO-VAK ====== */
#myDIV {
  border: 2px solid white;
  padding: 10px;
  width: 500px;
  margin: 20px auto;
  text-align: center;
  border-radius: 10px;
  background-color: black;
  color: white;
}

/* == BOXEN == */
.boxen {
  display: flex;               /* Zet de boxen naast elkaar */
  justify-content: center;     /* Zet de boxen in het midden van de pagina */
  align-items: flex-start;     /* Zorg dat ze bovenaan gelijk staan */
  gap: 20px;                   /* Ruimte tussen de boxen */
  margin-top: 50px;            /* Ruimte boven de boxen */
}

/* == EEN BOX == */
.box {
  background-color: #111;      /* Donkere achtergrond */
  color: white;                /* Witte tekst */
  border: 3px solid white;     /* Witte rand */
  border-radius: 18px;         /* Ronde hoeken */
  width: 600px;                /* Even brede boxen */
  height: 300px;               /* Even hoge boxen */
  display: flex;               /* Om tekst te centreren */
  flex-direction: column;      /* Tekst boven elkaar (titel en uitleg) */
  justify-content:center;     /* Verticaal centreren */
  align-items: center;         /* Horizontaal centreren */
  padding: 20px;
  text-align: center;           
 
}

/* Effect bij hover */
.box:hover {
  background-color: #333;      /* Wordt iets lichter */
  transform: scale(1.05);      /* Beetje vergroten */
  transition: 0.2s;
}

/* == plaatjes == */

.invoer {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}
.invoer img {
  margin-bottom: 30px;
  border-radius: 10px;
}

.kleurmodellen {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.kleurmodellen img {
  margin-bottom: 30px;
  border-radius: 10px;
}

.binair {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.binair {
  margin-bottom: 30px;
  border-radius: 10px;
}
